/* theme */
:root {
  --primary: #d3c7bb;
  --secondary: #2d3847;
  --ternary: #eeeeea;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: var(--ternary);
  height: auto;
}

header {
  background-color: var(--secondary);
  top: 0;
  position: sticky;
  overflow: hidden;
  scroll-behavior: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  color: white !important;
  list-style-type: none;
  display: flex;
  padding: 20px;
  width: 500px;
  margin: auto;
  justify-content: center;
}
ul li {
  margin: 0 5px;
  padding: 5px 7px;
  border-radius: 20px;
  color: var(--ternary);
}
ul li:hover {
  cursor: pointer;
  color: white;
}

/* active link */
.active {
  text-decoration: underline white;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
}

main div {
  margin: 30px 0;
  background-color: var(--primary);
  width: 280px;
  height: 350px;
  text-align: justify;
  padding: 15px;
  border-radius: 20px;
}

main div:hover {
  cursor: pointer;
  box-shadow: 1px 2px 3px gainsboro;
}
a {
  text-decoration: none;
  color: black;
}

/* Contact Us */
.contact {
  background-image: url(../assets/contact.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
form {
  border: solid 1px black;
  border-radius: 8px;
  width: 400px;
  text-align: center;
  padding: 20px 0;
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
  border: 2px solid rgba(225, 225, 225, 0.18);
}
form input {
  width: 80%;
  margin: 6px;
  padding: 6px;
  border-radius: 4px;
  border: none;
}
form input::placeholder {
  color: var(--secondary);
}
form textarea {
  width: 80%;
  margin: 6px;
  border-radius: 4px;
  border: none;
  height: 4rem;
}
form textarea::placeholder {
  color: var(--secondary);
  padding: 1.4%;
}
form input[type="submit"] {
  cursor: pointer;
  background-color: var(--secondary);
  color: white;
}
form input[type="submit"]:hover {
  background-color: #2d3847d3;
}


/* Footer */
 footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  color: var(--ternary);
  position: absolute;
  bottom: 0;
} 